Airline_Sentiment (10).json
{"flowContents":{"identifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Airline Sentiment","comments":"","position":{"x":-1364.0,"y":247.0},"processGroups":[{"identifier":"6ab8171e-1cad-3efc-a42d-94df7d95de67","name":"Airline Sentiment From Enterprise System","comments":"","position":{"x":824.0,"y":224.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"dc522f25-75f1-3a36-bc2c-4092199c0a00","name":"FetchFile","comments":"","position":{"x":1024.0,"y":456.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.10.0.2.0.0.0-166"},"style":{},"type":"org.apache.nifi.processors.standard.FetchFile","properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":null,"Log level when permission denied":"ERROR","File to Fetch":"${absolute.path}/${filename}","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","permission.denied","not.found"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"6ab8171e-1cad-3efc-a42d-94df7d95de67"},{"identifier":"517c3f95-8a67-3d1b-92e7-9f8e42f73ddc","name":"Synthetic Tweets for Testing","comments":"","position":{"x":472.0,"y":24.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.10.0.2.0.0.0-166"},"style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","properties":{"character-set":"UTF-8","File Size":"1024b","generate-ff-custom-text":"{\n\"id\": \"${now():format(\"yyyyMMddHHmmss\")}${random():mod(9999)}\",\n\"tweet_id\": \"${now():format(\"yyyyMMddHHmmss\")}${random():mod(9999)}\",\n\"tweetid\": \"${now():format(\"yyyyMMddHHmmss\")}${random():mod(9999)}\",\n\"statuses_count\": ${random():mod(950):plus(10)},\n\"listed_count\": ${random():mod(1000):plus(5)},\n\"favourites_count\": ${random():mod(100):plus(5)},\n\"followers_count\": ${random():mod(2000):plus(5)},\n\"friends_count\": ${random():mod(5000):plus(5)},\n\"retweet_count\": ${nextInt()}.${random():mod(1000):plus(1)},\n\"host\": \"${ip()}/${hostname(true)}\",\n\"temperature\": \"${random():mod(60):plus(60)}\",\n\"location\": \"New York City, NY\",\n\"hashtags\": \"[Airline]\",\n\"annonym\": \"Joe Bot\",\n\"source\": \"Super NiFi\",\n\"airlinesentiment\": \"Neutral\",\n\"airline\": \"Cloud Air\",\n\"tweettext\": \"Nothing but good things to say about this awesome airline ClouderaAir\",\n\"text\": \"Nothing but good things to say about this awesome airline ClouderaAir\",\n\"time\": \"${now():format(\"MM/dd/yyyy HH:mm:ss\", \"EST\")}\",\n\"timestamp\": \"${now():format(\"MM/dd/yyyy HH:mm:ss\", \"EST\")}\",\n\"created_at\":\"${now():format(\"MM/dd/yyyy HH:mm:ss\", \"EST\")}\"\n}\n","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"6ab8171e-1cad-3efc-a42d-94df7d95de67"},{"identifier":"19443ec7-7baf-315b-82ca-8ed8e5443955","name":"Add fields","comments":"","position":{"x":472.0,"y":432.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.10.0.2.0.0.0-166"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","airlinesentiment":"Neutral","Stateful Variables Initial Value":null,"airline":"Cloud Air","airlinepolarity":"0.00"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"airlinesentiment":{"name":"airlinesentiment","displayName":"airlinesentiment","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"airline":{"name":"airline","displayName":"airline","identifiesControllerService":false,"sensitive":false},"airlinepolarity":{"name":"airlinepolarity","displayName":"airlinepolarity","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"6ab8171e-1cad-3efc-a42d-94df7d95de67"},{"identifier":"fa2692af-bc42-30e2-b3be-2b1fbe6c5747","name":"ListFile","comments":"","position":{"x":1192.0,"y":168.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.10.0.2.0.0.0-166"},"style":{},"type":"org.apache.nifi.processors.standard.ListFile","properties":{"Minimum File Age":"0 sec","et-initial-listing-target":"all","Maximum File Age":null,"max-listing-time":"3 mins","Maximum File Size":null,"et-time-window":"3 hours","et-node-identifier":"${hostname()}","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","listing-strategy":"timestamps","Input Directory":"/opt/demo/twitter","target-system-timestamp-precision":"auto-detect","track-performance":"false","max-performance-metrics":"100000","Minimum File Size":"0 B","Ignore Hidden Files":"true","et-state-cache":null,"max-operation-time":"10 secs"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"max-listing-time":{"name":"max-listing-time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"et-node-identifier":{"name":"et-node-identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false},"track-performance":{"name":"track-performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false},"max-performance-metrics":{"name":"max-performance-metrics","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false},"max-operation-time":{"name":"max-operation-time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"6ab8171e-1cad-3efc-a42d-94df7d95de67"},{"identifier":"4c2da935-ccf4-337c-b1d9-be9c02d7a4c0","name":"Sentiment Post Data Cleansing and Filtering","comments":"","position":{"x":480.0,"y":232.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.10.0.2.0.0.0-166"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-attribute","friends_count":"$.friends_count","hashtags":"$.hashtags","listed_count":"$.listed_count","tweet_id":"$.tweetid","Return Type":"json","favourites_count":"$.favourites_count","annonym":"$.annonym","created_at":"$.created_at","Null Value Representation":"empty string","tweettext":"$.text","tweet":"$.text","source":"$.source","tweetid":"$.tweetid","retweet_count":"$.retweet_count","Path Not Found Behavior":"ignore","statuses_count":"$.statuses_count","followers_count":"$.followers_count","location":"$.location","text":"$.text","id":"$.id","time":"$.time","timestamp":"$.timestamp"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"friends_count":{"name":"friends_count","displayName":"friends_count","identifiesControllerService":false,"sensitive":false},"hashtags":{"name":"hashtags","displayName":"hashtags","identifiesControllerService":false,"sensitive":false},"listed_count":{"name":"listed_count","displayName":"listed_count","identifiesControllerService":false,"sensitive":false},"tweet_id":{"name":"tweet_id","displayName":"tweet_id","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"favourites_count":{"name":"favourites_count","displayName":"favourites_count","identifiesControllerService":false,"sensitive":false},"annonym":{"name":"annonym","displayName":"annonym","identifiesControllerService":false,"sensitive":false},"created_at":{"name":"created_at","displayName":"created_at","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"tweettext":{"name":"tweettext","displayName":"tweettext","identifiesControllerService":false,"sensitive":false},"tweet":{"name":"tweet","displayName":"tweet","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"tweetid":{"name":"tweetid","displayName":"tweetid","identifiesControllerService":false,"sensitive":false},"retweet_count":{"name":"retweet_count","displayName":"retweet_count","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"statuses_count":{"name":"statuses_count","displayName":"statuses_count","identifiesControllerService":false,"sensitive":false},"followers_count":{"name":"followers_count","displayName":"followers_count","identifiesControllerService":false,"sensitive":false},"location":{"name":"location","displayName":"location","identifiesControllerService":false,"sensitive":false},"text":{"name":"text","displayName":"text","identifiesControllerService":false,"sensitive":false},"id":{"name":"id","displayName":"id","identifiesControllerService":false,"sensitive":false},"time":{"name":"time","displayName":"time","identifiesControllerService":false,"sensitive":false},"timestamp":{"name":"timestamp","displayName":"timestamp","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"ERROR","runDurationMillis":25,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"6ab8171e-1cad-3efc-a42d-94df7d95de67"}],"inputPorts":[],"outputPorts":[{"identifier":"eba57df9-c84d-30b7-adab-091ec0a76ca5","name":"Out","comments":"","position":{"x":792.0,"y":848.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"6ab8171e-1cad-3efc-a42d-94df7d95de67"}],"connections":[{"identifier":"a720aeeb-506b-3c11-a50a-84ab5625f135","name":"","source":{"id":"4c2da935-ccf4-337c-b1d9-be9c02d7a4c0","type":"PROCESSOR","groupId":"6ab8171e-1cad-3efc-a42d-94df7d95de67","name":"Sentiment Post Data Cleansing and Filtering","comments":""},"destination":{"id":"19443ec7-7baf-315b-82ca-8ed8e5443955","type":"PROCESSOR","groupId":"6ab8171e-1cad-3efc-a42d-94df7d95de67","name":"Add fields","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6ab8171e-1cad-3efc-a42d-94df7d95de67"},{"identifier":"5fe38ab7-4829-3b16-b93e-d6e17d466272","name":"","source":{"id":"19443ec7-7baf-315b-82ca-8ed8e5443955","type":"PROCESSOR","groupId":"6ab8171e-1cad-3efc-a42d-94df7d95de67","name":"Add fields","comments":""},"destination":{"id":"eba57df9-c84d-30b7-adab-091ec0a76ca5","type":"OUTPUT_PORT","groupId":"6ab8171e-1cad-3efc-a42d-94df7d95de67","name":"Out","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6ab8171e-1cad-3efc-a42d-94df7d95de67"},{"identifier":"7e71d19b-7348-321a-8c0b-f967a8f105bb","name":"","source":{"id":"fa2692af-bc42-30e2-b3be-2b1fbe6c5747","type":"PROCESSOR","groupId":"6ab8171e-1cad-3efc-a42d-94df7d95de67","name":"ListFile","comments":""},"destination":{"id":"dc522f25-75f1-3a36-bc2c-4092199c0a00","type":"PROCESSOR","groupId":"6ab8171e-1cad-3efc-a42d-94df7d95de67","name":"FetchFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6ab8171e-1cad-3efc-a42d-94df7d95de67"},{"identifier":"9054d224-0eff-33aa-825e-bdbdd3b59cae","name":"","source":{"id":"517c3f95-8a67-3d1b-92e7-9f8e42f73ddc","type":"PROCESSOR","groupId":"6ab8171e-1cad-3efc-a42d-94df7d95de67","name":"Synthetic Tweets for Testing","comments":""},"destination":{"id":"4c2da935-ccf4-337c-b1d9-be9c02d7a4c0","type":"PROCESSOR","groupId":"6ab8171e-1cad-3efc-a42d-94df7d95de67","name":"Sentiment Post Data Cleansing and Filtering","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6ab8171e-1cad-3efc-a42d-94df7d95de67"},{"identifier":"797e0f59-2860-33d8-b7a0-add3682ac008","name":"","source":{"id":"dc522f25-75f1-3a36-bc2c-4092199c0a00","type":"PROCESSOR","groupId":"6ab8171e-1cad-3efc-a42d-94df7d95de67","name":"FetchFile","comments":""},"destination":{"id":"eba57df9-c84d-30b7-adab-091ec0a76ca5","type":"OUTPUT_PORT","groupId":"6ab8171e-1cad-3efc-a42d-94df7d95de67","name":"Out","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6ab8171e-1cad-3efc-a42d-94df7d95de67"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"componentType":"PROCESS_GROUP","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"51d9d409-1572-3f96-86af-244357ca8d97","name":"Twitter Airline Sentiment","comments":"","position":{"x":120.0,"y":224.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"94aed909-3c89-3519-95d8-5219a5a86272","name":"Data Cleansing and Filtering","comments":"","position":{"x":2334.669176247334,"y":279.637121775914},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.10.0.2.0.0.0-166"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"msg":"$.text","unixtime":"$.timestamp_ms","Destination":"flowfile-attribute","friends_count":"$.user.friends_count","hashtags":"$.entities.hashtags[*].text","listed_count":"$.user.listed_count","tweet_id":"$.id","user_name":"$.user.name","favourites_count":"$.user.favourites_count","Null Value Representation":"empty string","language":"$.lang","source":"$.source","media_url":"$.entities.media[*].media_url","retweet_count":"$.retweet_count","user_mentions_name":"$.user_mentions[*].name","Path Not Found Behavior":"ignore","geo":"$.geo","urls":"$.urls[*].url","user_url":"$.user.url","place":"$.place.full_name","followerscount":"$.user.followers_count","timestamp":"$.timestamp_ms","Return Type":"json","coordinates":"$.coordinates","handle":"$.user.screen_name","profile_image_url":"$.user.profile_image_url","time_zone":"$.user.time_zone","ext_media":"$.extended_entities.media[*].media_url","statuses_count":"$.user.statuses_count","followers_count":"$.user.followers_count","location":"$.user.location","time":"$.created_at","user_mentions":"$.user_mentions[*].screen_name","user_description":"$.user.description"},"propertyDescriptors":{"msg":{"name":"msg","displayName":"msg","identifiesControllerService":false,"sensitive":false},"unixtime":{"name":"unixtime","displayName":"unixtime","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"friends_count":{"name":"friends_count","displayName":"friends_count","identifiesControllerService":false,"sensitive":false},"hashtags":{"name":"hashtags","displayName":"hashtags","identifiesControllerService":false,"sensitive":false},"listed_count":{"name":"listed_count","displayName":"listed_count","identifiesControllerService":false,"sensitive":false},"tweet_id":{"name":"tweet_id","displayName":"tweet_id","identifiesControllerService":false,"sensitive":false},"user_name":{"name":"user_name","displayName":"user_name","identifiesControllerService":false,"sensitive":false},"favourites_count":{"name":"favourites_count","displayName":"favourites_count","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"language":{"name":"language","displayName":"language","identifiesControllerService":false,"sensitive":false},"source":{"name":"source","displayName":"source","identifiesControllerService":false,"sensitive":false},"media_url":{"name":"media_url","displayName":"media_url","identifiesControllerService":false,"sensitive":false},"retweet_count":{"name":"retweet_count","displayName":"retweet_count","identifiesControllerService":false,"sensitive":false},"user_mentions_name":{"name":"user_mentions_name","displayName":"user_mentions_name","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"geo":{"name":"geo","displayName":"geo","identifiesControllerService":false,"sensitive":false},"urls":{"name":"urls","displayName":"urls","identifiesControllerService":false,"sensitive":false},"user_url":{"name":"user_url","displayName":"user_url","identifiesControllerService":false,"sensitive":false},"place":{"name":"place","displayName":"place","identifiesControllerService":false,"sensitive":false},"followerscount":{"name":"followerscount","displayName":"followerscount","identifiesControllerService":false,"sensitive":false},"timestamp":{"name":"timestamp","displayName":"timestamp","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"coordinates":{"name":"coordinates","displayName":"coordinates","identifiesControllerService":false,"sensitive":false},"handle":{"name":"handle","displayName":"handle","identifiesControllerService":false,"sensitive":false},"profile_image_url":{"name":"profile_image_url","displayName":"profile_image_url","identifiesControllerService":false,"sensitive":false},"time_zone":{"name":"time_zone","displayName":"time_zone","identifiesControllerService":false,"sensitive":false},"ext_media":{"name":"ext_media","displayName":"ext_media","identifiesControllerService":false,"sensitive":false},"statuses_count":{"name":"statuses_count","displayName":"statuses_count","identifiesControllerService":false,"sensitive":false},"followers_count":{"name":"followers_count","displayName":"followers_count","identifiesControllerService":false,"sensitive":false},"location":{"name":"location","displayName":"location","identifiesControllerService":false,"sensitive":false},"time":{"name":"time","displayName":"time","identifiesControllerService":false,"sensitive":false},"user_mentions":{"name":"user_mentions","displayName":"user_mentions","identifiesControllerService":false,"sensitive":false},"user_description":{"name":"user_description","displayName":"user_description","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"ERROR","runDurationMillis":25,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"51d9d409-1572-3f96-86af-244357ca8d97"},{"identifier":"69e427a1-40f8-3895-9f07-33c77c0e55c0","name":"Add fields","comments":"","position":{"x":2336.0,"y":744.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.10.0.2.0.0.0-166"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","airlinesentiment":"Neutral","Stateful Variables Initial Value":null,"airline":"Cloud Air","airlinepolarity":"0.00"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"airlinesentiment":{"name":"airlinesentiment","displayName":"airlinesentiment","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"airline":{"name":"airline","displayName":"airline","identifiesControllerService":false,"sensitive":false},"airlinepolarity":{"name":"airlinepolarity","displayName":"airlinepolarity","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"51d9d409-1572-3f96-86af-244357ca8d97"},{"identifier":"3f8f8a06-fc58-39a0-8851-0cb5d87c34da","name":"Twitter Airline Sentiment","comments":"","position":{"x":2328.0,"y":64.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-social-media-nar","version":"1.10.0.2.0.0.0-166"},"style":{},"type":"org.apache.nifi.processors.twitter.GetTwitter","properties":{"Consumer Key":"#{consumer_key}","Consumer Secret":"#{consumersecret}","Access Token":"#{accesstoken}","max-client-error-retries":"5","Languages":"en","IDs to Follow":null,"Twitter Endpoint":"Filter Endpoint","Locations to Filter On":null,"Terms to Filter On":"#{terms_filter}","Access Token Secret":"#{accesstokensecret}"},"propertyDescriptors":{"Consumer Key":{"name":"Consumer Key","displayName":"Consumer Key","identifiesControllerService":false,"sensitive":true},"Consumer Secret":{"name":"Consumer Secret","displayName":"Consumer Secret","identifiesControllerService":false,"sensitive":true},"Access Token":{"name":"Access Token","displayName":"Access Token","identifiesControllerService":false,"sensitive":true},"max-client-error-retries":{"name":"max-client-error-retries","displayName":"Max Client Error Retries","identifiesControllerService":false,"sensitive":false},"Languages":{"name":"Languages","displayName":"Languages","identifiesControllerService":false,"sensitive":false},"IDs to Follow":{"name":"IDs to Follow","displayName":"IDs to Follow","identifiesControllerService":false,"sensitive":false},"Twitter Endpoint":{"name":"Twitter Endpoint","displayName":"Twitter Endpoint","identifiesControllerService":false,"sensitive":false},"Locations to Filter On":{"name":"Locations to Filter On","displayName":"Locations to Filter On","identifiesControllerService":false,"sensitive":false},"Terms to Filter On":{"name":"Terms to Filter On","displayName":"Terms to Filter On","identifiesControllerService":false,"sensitive":false},"Access Token Secret":{"name":"Access Token Secret","displayName":"Access Token Secret","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"51d9d409-1572-3f96-86af-244357ca8d97"},{"identifier":"2a190eab-8bb3-3a5b-af05-93c50f7e4768","name":"Publish Raw Twitter JSON","comments":"","position":{"x":1736.0,"y":520.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.10.0.2.0.0.0-166"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0","properties":{"compression.type":"none","attribute-name-regex":".*","record-writer":"d8a7489b-b365-3d52-9d49-cff59b1b0aab","bootstrap.servers":"edge2ai-1.dim.local:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"8f23f574-00d9-3c58-901d-8822271f6d7d","message-header-encoding":"UTF-8","transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"tweets"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"51d9d409-1572-3f96-86af-244357ca8d97"},{"identifier":"d7577053-7965-3b3a-87f3-6e1706099823","name":"Sentiment Post Data Cleansing and Filtering","comments":"","position":{"x":2336.0,"y":520.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.10.0.2.0.0.0-166"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-attribute","tweet_id":"$.id","Return Type":"json","annonym":"$.user.name","Null Value Representation":"empty string","tweettext":"$.text","tweet":"$.text","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"tweet_id":{"name":"tweet_id","displayName":"tweet_id","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"annonym":{"name":"annonym","displayName":"annonym","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"tweettext":{"name":"tweettext","displayName":"tweettext","identifiesControllerService":false,"sensitive":false},"tweet":{"name":"tweet","displayName":"tweet","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"ERROR","runDurationMillis":25,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"51d9d409-1572-3f96-86af-244357ca8d97"}],"inputPorts":[],"outputPorts":[{"identifier":"b8c8c6fe-3cbe-3101-952e-aa67ceb637f7","name":"Tweets Out","comments":"","position":{"x":2384.0,"y":968.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"51d9d409-1572-3f96-86af-244357ca8d97"}],"connections":[{"identifier":"8da03a39-d43d-3561-9f28-2828a11cc982","name":"","source":{"id":"2a190eab-8bb3-3a5b-af05-93c50f7e4768","type":"PROCESSOR","groupId":"51d9d409-1572-3f96-86af-244357ca8d97","name":"Publish Raw Twitter JSON","comments":""},"destination":{"id":"1681fab8-1017-35dd-a2e1-d8ab00c15f9c","type":"FUNNEL","groupId":"51d9d409-1572-3f96-86af-244357ca8d97","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51d9d409-1572-3f96-86af-244357ca8d97"},{"identifier":"02a1895e-3fa0-3121-81dd-5d1354490e44","name":"","source":{"id":"94aed909-3c89-3519-95d8-5219a5a86272","type":"PROCESSOR","groupId":"51d9d409-1572-3f96-86af-244357ca8d97","name":"Data Cleansing and Filtering","comments":""},"destination":{"id":"2a190eab-8bb3-3a5b-af05-93c50f7e4768","type":"PROCESSOR","groupId":"51d9d409-1572-3f96-86af-244357ca8d97","name":"Publish Raw Twitter JSON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":100000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51d9d409-1572-3f96-86af-244357ca8d97"},{"identifier":"28c2dbf1-6515-3e18-83a6-8658598db70a","name":"","source":{"id":"d7577053-7965-3b3a-87f3-6e1706099823","type":"PROCESSOR","groupId":"51d9d409-1572-3f96-86af-244357ca8d97","name":"Sentiment Post Data Cleansing and Filtering","comments":""},"destination":{"id":"69e427a1-40f8-3895-9f07-33c77c0e55c0","type":"PROCESSOR","groupId":"51d9d409-1572-3f96-86af-244357ca8d97","name":"Add fields","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":1000000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51d9d409-1572-3f96-86af-244357ca8d97"},{"identifier":"f9ed69af-ea88-313e-b66f-7b1f4192fa3d","name":"","source":{"id":"3f8f8a06-fc58-39a0-8851-0cb5d87c34da","type":"PROCESSOR","groupId":"51d9d409-1572-3f96-86af-244357ca8d97","name":"Twitter Airline Sentiment","comments":""},"destination":{"id":"94aed909-3c89-3519-95d8-5219a5a86272","type":"PROCESSOR","groupId":"51d9d409-1572-3f96-86af-244357ca8d97","name":"Data Cleansing and Filtering","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"ROUND_ROBIN","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51d9d409-1572-3f96-86af-244357ca8d97"},{"identifier":"9e5be7dc-85b2-3626-af3f-3e7c14402dcd","name":"","source":{"id":"69e427a1-40f8-3895-9f07-33c77c0e55c0","type":"PROCESSOR","groupId":"51d9d409-1572-3f96-86af-244357ca8d97","name":"Add fields","comments":""},"destination":{"id":"b8c8c6fe-3cbe-3101-952e-aa67ceb637f7","type":"OUTPUT_PORT","groupId":"51d9d409-1572-3f96-86af-244357ca8d97","name":"Tweets Out","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51d9d409-1572-3f96-86af-244357ca8d97"},{"identifier":"8d5991e4-9de5-31ba-9440-1d216c18f6a7","name":"","source":{"id":"94aed909-3c89-3519-95d8-5219a5a86272","type":"PROCESSOR","groupId":"51d9d409-1572-3f96-86af-244357ca8d97","name":"Data Cleansing and Filtering","comments":""},"destination":{"id":"d7577053-7965-3b3a-87f3-6e1706099823","type":"PROCESSOR","groupId":"51d9d409-1572-3f96-86af-244357ca8d97","name":"Sentiment Post Data Cleansing and Filtering","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"ROUND_ROBIN","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"51d9d409-1572-3f96-86af-244357ca8d97"}],"labels":[{"identifier":"e4b78fb4-ff97-379a-88de-21a49f306ad0","position":{"x":2776.0,"y":72.0},"label":"Find, filter and clean Twitter streams","width":784.0,"height":320.0,"style":{"background-color":"#ff5e00","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"51d9d409-1572-3f96-86af-244357ca8d97"}],"funnels":[{"identifier":"1681fab8-1017-35dd-a2e1-d8ab00c15f9c","position":{"x":1888.0,"y":808.0},"componentType":"FUNNEL","groupIdentifier":"51d9d409-1572-3f96-86af-244357ca8d97"}],"controllerServices":[],"variables":{},"parameterContextName":"airlines","componentType":"PROCESS_GROUP","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"}],"remoteProcessGroups":[],"processors":[{"identifier":"306b9e2c-ecfd-3f58-9b8d-7ac7a3b8d544","name":"Send Alerts to Business","comments":"","position":{"x":904.0,"y":2176.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-slack-nar","version":"1.10.0.2.0.0.0-166"},"style":{},"type":"org.apache.nifi.processors.slack.PutSlack","properties":{"icon-emoji":null,"webhook-text":"==========================================================================================================\nUnique ID:  ${tweetid}    ${uuid}\n==========================================================================================================\n Airline:  ${airline}\nSentiment: ${airlinesentiment}\n   Anonym: ${annonym}\n\nLocation ${location}\n\nData Science Results\n${cml.header}\n${cml.results}\n\nCounts\nFavorites: ${favourites_count}\nFollowers: ${followers_count}\nFriends:   ${friends_count}\nListed:    ${listed_count}\nRetweets:  ${retweet_count}\nStatuses:  ${statuses_count}\n\nTweet Message:\n${text}\n\n${hashtags}\nat timestamp: ${timestamp} ${time}\n==========================================================================================================","channel":"#airline","icon-url":null,"username":null},"propertyDescriptors":{"icon-emoji":{"name":"icon-emoji","displayName":"Icon Emoji","identifiesControllerService":false,"sensitive":false},"webhook-url":{"name":"webhook-url","displayName":"Webhook URL","identifiesControllerService":false,"sensitive":true},"webhook-text":{"name":"webhook-text","displayName":"Webhook Text","identifiesControllerService":false,"sensitive":false},"channel":{"name":"channel","displayName":"Channel","identifiesControllerService":false,"sensitive":false},"icon-url":{"name":"icon-url","displayName":"Icon URL","identifiesControllerService":false,"sensitive":false},"username":{"name":"username","displayName":"Username","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"1b6566d4-9aa8-3d42-9b4a-9690b5767f0b","name":"If CML Call Failure","comments":"","position":{"x":128.0,"y":1192.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.10.0.2.0.0.0-166"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","isFail":"${cml.results:contains('Fail')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"isFail":{"name":"isFail","displayName":"isFail","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"5e2894c0-588c-3057-8450-d40faab7c059","name":"PublishKafkaRecord_2_0 Airlines","comments":"","position":{"x":-392.0,"y":2080.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.10.0.2.0.0.0-166"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0","properties":{"compression.type":"none","attribute-name-regex":".*","record-writer":"26b15c22-4b93-351a-96c3-b215a4dc2f79","bootstrap.servers":"edge2ai-1.dim.local:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"9c0c09b3-bb39-3f1e-868e-d5a6033ec4a2","message-header-encoding":"UTF-8","transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":"tweet_id","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"airlines"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"bfb0debf-c9d0-36b4-9e26-0fcb546d4941","name":"ExecuteClouderaML Sentiment","comments":"","position":{"x":136.0,"y":952.0},"bundle":{"group":"dev.datainmotion","artifact":"nifi-ExecuteClouderaML-nar","version":"1.0"},"style":{},"type":"dev.datainmotion.processors.ExecuteClouderaML.ExecuteClouderaML","properties":{"basicusername":null,"headername":null,"headervalue":null,"accessKey":"KEYVALUE","cmlrequest":"${tweettext}","basicpassword":null,"url":"https://modelservice/model"},"propertyDescriptors":{"basicusername":{"name":"basicusername","displayName":"basicusername","identifiesControllerService":false,"sensitive":false},"headername":{"name":"headername","displayName":"headername","identifiesControllerService":false,"sensitive":false},"headervalue":{"name":"headervalue","displayName":"headervalue","identifiesControllerService":false,"sensitive":false},"accessKey":{"name":"accessKey","displayName":"accessKey","identifiesControllerService":false,"sensitive":false},"cmlrequest":{"name":"cmlrequest","displayName":"cmlrequest","identifiesControllerService":false,"sensitive":false},"basicpassword":{"name":"basicpassword","displayName":"basicpassword","identifiesControllerService":false,"sensitive":false},"url":{"name":"url","displayName":"url","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"51e80c64-3d1c-3d80-97e0-d86ac740450c","name":"PutFile","comments":"","position":{"x":320.0,"y":2328.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.10.0.2.0.0.0-166"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/opt/demo/logs","Conflict Resolution Strategy":"ignore"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"e83b308b-ef41-3096-a58c-25595b702d33","name":"Build Kudu Record","comments":"","position":{"x":1064.0,"y":2504.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.10.0.2.0.0.0-166"},"style":{},"type":"org.apache.nifi.processors.standard.AttributesToJSON","properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"airline,airlinesentiment,airlinepolarity,annonym,favourites_count,followers_count,friends_count,hashtags,listed_count,location,retweet_count,statuses_count,text,time,timestamp,tweetid,uuid","Include Core Attributes":"false"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"cf92f5f6-57af-30f3-aac1-f07744ad67cd","name":"Publish Airline Positive Sentiment ","comments":"","position":{"x":896.0,"y":1976.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.10.0.2.0.0.0-166"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0","properties":{"compression.type":"none","attribute-name-regex":".*","record-writer":"d8a7489b-b365-3d52-9d49-cff59b1b0aab","bootstrap.servers":"edge2ai-1.dim.local:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"8f23f574-00d9-3c58-901d-8822271f6d7d","message-header-encoding":"UTF-8","transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"positivesentiment"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"7346013a-e17d-39a5-bdc1-7b8cd0f89d9c","name":"Build Custom Record","comments":"","position":{"x":120.0,"y":1640.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.10.0.2.0.0.0-166"},"style":{},"type":"org.apache.nifi.processors.standard.AttributesToJSON","properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"airline,airlinesentiment,airlinepolarity,annonym,favouritescount,followerscount,friendscount,hashtags,listedcount,tweetlocation,retweetcount,statusescount,tweettext,tweettime,tweettimestamp,tweetid,uuid","Include Core Attributes":"false"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"c6f225aa-134f-3a9d-8d64-37bbde8569f0","name":"Publish Negative Sentiment ","comments":"","position":{"x":896.0,"y":1568.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.10.0.2.0.0.0-166"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0","properties":{"compression.type":"none","attribute-name-regex":".*","record-writer":"d8a7489b-b365-3d52-9d49-cff59b1b0aab","bootstrap.servers":"edge2ai-1.dim.local:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"8f23f574-00d9-3c58-901d-8822271f6d7d","message-header-encoding":"UTF-8","transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"negativesentiment"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"91e12e61-1fe7-3899-a3ca-dcff28275f42","name":"Anonymize User Name","comments":"","position":{"x":144.0,"y":744.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.10.0.2.0.0.0-166"},"style":{},"type":"org.apache.nifi.processors.standard.CryptographicHashAttribute","properties":{"annonym":"annonym","character_set":"UTF-8","hash_algorithm":"SHA-256","missing_attr_policy":"ALLOW","fail_when_empty":"false"},"propertyDescriptors":{"annonym":{"name":"annonym","displayName":"annonym","identifiesControllerService":false,"sensitive":false},"character_set":{"name":"character_set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"hash_algorithm":{"name":"hash_algorithm","displayName":"Hash Algorithm","identifiesControllerService":false,"sensitive":false},"missing_attr_policy":{"name":"missing_attr_policy","displayName":"Missing attribute policy","identifiesControllerService":false,"sensitive":false},"fail_when_empty":{"name":"fail_when_empty","displayName":"Fail when no attributes present","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"c0d28c04-ba9b-3064-9bb6-869daa32480c","name":"SQL Analysis of Stream","comments":"","position":{"x":128.0,"y":1888.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.10.0.2.0.0.0-166"},"style":{},"type":"org.apache.nifi.processors.standard.QueryRecord","properties":{"all":"SELECT * FROM FLOWFILE","specialtweet":"SELECT * \nFROM FLOWFILE\nWHERE airlinesentiment = 'Negative'\nAND friendscount > 100","cache-schema":"true","negative":"SELECT * FROM FLOWFILE\nWHERE airlinesentiment = 'Negative'","ourairline":"SELECT *\nFROM FLOWFILE\nWHERE UPPER(tweettext) like '%CLOUDERAAIR%' or\n      UPPER(tweettext) like '%CLOUD%AIR%'","record-writer":"26b15c22-4b93-351a-96c3-b215a4dc2f79","record-reader":"9c0c09b3-bb39-3f1e-868e-d5a6033ec4a2","include-zero-record-flowfiles":"false"},"propertyDescriptors":{"all":{"name":"all","displayName":"all","identifiesControllerService":false,"sensitive":false},"specialtweet":{"name":"specialtweet","displayName":"specialtweet","identifiesControllerService":false,"sensitive":false},"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"negative":{"name":"negative","displayName":"negative","identifiesControllerService":false,"sensitive":false},"ourairline":{"name":"ourairline","displayName":"ourairline","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"5c754ea7-2c0c-34d7-acfd-8dca23fa3cae","name":"Set Schema","comments":"","position":{"x":136.0,"y":504.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.10.0.2.0.0.0-166"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"schema":"airlinesentiment","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","schema.name":"airlinesentiment","Stateful Variables Initial Value":null},"propertyDescriptors":{"schema":{"name":"schema","displayName":"schema","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"112fc41d-ba9c-3393-b8ab-9cc6dc963bec","name":"Insert into CDW Tables","comments":"","position":{"x":-912.0,"y":2392.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.10.0.2.0.0.0-166"},"style":{},"type":"org.apache.nifi.processors.standard.PutSQL","properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":null,"Transaction Timeout":null,"Batch Size":"1000","Obtain Generated Keys":"false","JDBC Connection Pool":"17501d58-04c5-37bf-bee4-72636490ab8f","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"ERROR","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","retry"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"56b1379f-0317-3fd2-9296-66dc888687ed","name":"Publish Our Sentiment ","comments":"","position":{"x":888.0,"y":1776.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.10.0.2.0.0.0-166"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0","properties":{"compression.type":"none","attribute-name-regex":".*","record-writer":"d8a7489b-b365-3d52-9d49-cff59b1b0aab","bootstrap.servers":"edge2ai-1.dim.local:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"8f23f574-00d9-3c58-901d-8822271f6d7d","message-header-encoding":"UTF-8","transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"sentiment"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"a85d7419-d086-34cb-8171-4f46f72e3eea","name":"Store to HBase 2","comments":"","position":{"x":368.0,"y":2512.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hbase-nar","version":"1.10.0.2.0.0.0-166"},"style":{},"type":"org.apache.nifi.hbase.PutHBaseRecord","properties":{"Table Name":"airline","Row Identifier Field Name":"tweetid","hbase-record-null-field-strategy":"skip-field","Column Family":"sentiment","put-hb-rec-visibility-record-path":null,"Row Identifier Encoding Strategy":"String","Complex Field Strategy":"Text","Batch Size":"100","hbase-default-vis-string":null,"Field Encoding Strategy":"String","record-reader":"813704cf-cbb8-33b7-82b6-b154c6e42a22","HBase Client Service":"d6cf9cd7-47d2-3928-bdad-6d0a25061619","timestamp-field-name":null},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Row Identifier Field Name":{"name":"Row Identifier Field Name","displayName":"Row Identifier Field Name","identifiesControllerService":false,"sensitive":false},"hbase-record-null-field-strategy":{"name":"hbase-record-null-field-strategy","displayName":"Null Field Strategy","identifiesControllerService":false,"sensitive":false},"Column Family":{"name":"Column Family","displayName":"Column Family","identifiesControllerService":false,"sensitive":false},"put-hb-rec-visibility-record-path":{"name":"put-hb-rec-visibility-record-path","displayName":"Visibility String Record Path Root","identifiesControllerService":false,"sensitive":false},"Row Identifier Encoding Strategy":{"name":"Row Identifier Encoding Strategy","displayName":"Row Identifier Encoding Strategy","identifiesControllerService":false,"sensitive":false},"Complex Field Strategy":{"name":"Complex Field Strategy","displayName":"Complex Field Strategy","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"hbase-default-vis-string":{"name":"hbase-default-vis-string","displayName":"Default Visibility String","identifiesControllerService":false,"sensitive":false},"Field Encoding Strategy":{"name":"Field Encoding Strategy","displayName":"Field Encoding Strategy","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"HBase Client Service":{"name":"HBase Client Service","displayName":"HBase Client Service","identifiesControllerService":true,"sensitive":false},"timestamp-field-name":{"name":"timestamp-field-name","displayName":"Timestamp Field Name","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":2,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"63cf76f0-8488-3ebc-9c93-9cdf14342ce7","name":"Clean Results","comments":"","position":{"x":128.0,"y":1416.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.10.0.2.0.0.0-166"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"retweetcount":"${retweet_count}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","airlinesentiment":"${cml.results:jsonPath('$.response.sentiment')}","friendscount":"${friends_count}","favouritescount":"${favourites_count}","tweettext":"${text}","tweettime":"${time}","Stateful Variables Initial Value":null,"tweettimestamp":"${timestamp}","tweetid":"${tweet_id}","listedcount":"${listed_count}","Delete Attributes Expression":null,"statusescount":"${statuses_count}","tweetlocation":"${location}","airlinepolarity":"${cml.results:jsonPath('$.response.polarity')}","followerscount":"${followers_count}"},"propertyDescriptors":{"retweetcount":{"name":"retweetcount","displayName":"retweetcount","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"airlinesentiment":{"name":"airlinesentiment","displayName":"airlinesentiment","identifiesControllerService":false,"sensitive":false},"friendscount":{"name":"friendscount","displayName":"friendscount","identifiesControllerService":false,"sensitive":false},"favouritescount":{"name":"favouritescount","displayName":"favouritescount","identifiesControllerService":false,"sensitive":false},"tweettext":{"name":"tweettext","displayName":"tweettext","identifiesControllerService":false,"sensitive":false},"tweettime":{"name":"tweettime","displayName":"tweettime","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"tweettimestamp":{"name":"tweettimestamp","displayName":"tweettimestamp","identifiesControllerService":false,"sensitive":false},"tweetid":{"name":"tweetid","displayName":"tweetid","identifiesControllerService":false,"sensitive":false},"listedcount":{"name":"listedcount","displayName":"listedcount","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"statusescount":{"name":"statusescount","displayName":"statusescount","identifiesControllerService":false,"sensitive":false},"tweetlocation":{"name":"tweetlocation","displayName":"tweetlocation","identifiesControllerService":false,"sensitive":false},"airlinepolarity":{"name":"airlinepolarity","displayName":"airlinepolarity","identifiesControllerService":false,"sensitive":false},"followerscount":{"name":"followerscount","displayName":"followerscount","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"a5ede99d-fbdb-3bf6-aaeb-532539299ff1","name":"ConvertJSONToSQL","comments":"","position":{"x":-168.0,"y":2248.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.10.0.2.0.0.0-166"},"style":{},"type":"org.apache.nifi.processors.standard.ConvertJSONToSQL","properties":{"table-schema-cache-size":"100","Table Name":"airlinesentiment","Catalog Name":null,"jts-sql-param-attr-prefix":"sql","Schema Name":null,"Unmatched Field Behavior":"Ignore Unmatched Fields","Unmatched Column Behavior":"Ignore Unmatched Columns","jts-quoted-identifiers":"true","jts-quoted-table-identifiers":"false","JDBC Connection Pool":"17501d58-04c5-37bf-bee4-72636490ab8f","Update Keys":null,"Translate Field Names":"true","Statement Type":"INSERT"},"propertyDescriptors":{"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Catalog Name":{"name":"Catalog Name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"jts-sql-param-attr-prefix":{"name":"jts-sql-param-attr-prefix","displayName":"SQL Parameter Attribute Prefix","identifiesControllerService":false,"sensitive":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"jts-quoted-identifiers":{"name":"jts-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"jts-quoted-table-identifiers":{"name":"jts-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"f327ae36-d50e-3584-9319-faf4e5deb42d","name":"write to kudu","comments":"","position":{"x":1104.0,"y":2776.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kudu-nar","version":"1.10.0.2.0.0.0-166"},"style":{},"type":"org.apache.nifi.processors.kudu.PutKudu","properties":{"Ignore NULL":"false","Table Name":"impala::default.airlinesentimentkudu","Lowercase Field Names":"false","Insert Operation":"INSERT_IGNORE","kudu-operations-timeout-ms":"30000ms","Skip head line":"false","FlowFiles per Batch":"1","kerberos-credentials-service":null,"Kudu Masters":"edge2ai-1.dim.local:7051","Flush Mode":"AUTO_FLUSH_BACKGROUND","Batch Size":"2500","record-reader":"813704cf-cbb8-33b7-82b6-b154c6e42a22","kudu-keep-alive-period-timeout-ms":"15000ms"},"propertyDescriptors":{"Ignore NULL":{"name":"Ignore NULL","displayName":"Ignore NULL","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Lowercase Field Names":{"name":"Lowercase Field Names","displayName":"Lowercase Field Names","identifiesControllerService":false,"sensitive":false},"Insert Operation":{"name":"Insert Operation","displayName":"Kudu Operation Type","identifiesControllerService":false,"sensitive":false},"kudu-operations-timeout-ms":{"name":"kudu-operations-timeout-ms","displayName":"Kudu Operation Timeout","identifiesControllerService":false,"sensitive":false},"Skip head line":{"name":"Skip head line","displayName":"Skip head line","identifiesControllerService":false,"sensitive":false},"FlowFiles per Batch":{"name":"FlowFiles per Batch","displayName":"FlowFiles per Batch","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kudu Masters":{"name":"Kudu Masters","displayName":"Kudu Masters","identifiesControllerService":false,"sensitive":false},"Flush Mode":{"name":"Flush Mode","displayName":"Flush Mode","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Max Records per Batch","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"kudu-keep-alive-period-timeout-ms":{"name":"kudu-keep-alive-period-timeout-ms","displayName":"Kudu Keep Alive Period Timeout","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"b9a7b63e-8e4d-32e9-9877-6114ef8175c4","name":"","source":{"id":"56b1379f-0317-3fd2-9296-66dc888687ed","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Publish Our Sentiment ","comments":""},"destination":{"id":"76e34e9c-527e-3db3-a7f6-d2a85ea423e7","type":"FUNNEL","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"e7b3c956-f5dd-33fc-b144-2a333135ffb4","name":"","source":{"id":"112fc41d-ba9c-3393-b8ab-9cc6dc963bec","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Insert into CDW Tables","comments":""},"destination":{"id":"68cbc475-c96c-3a3f-9e27-0dca6498c7af","type":"FUNNEL","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"7901856a-3bf3-329c-a355-b5116561e3c4","name":"","source":{"id":"a85d7419-d086-34cb-8171-4f46f72e3eea","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Store to HBase 2","comments":""},"destination":{"id":"113230da-6214-3fcb-b773-8be7daae8da2","type":"FUNNEL","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"5195eafd-ae3c-3fa6-a6c1-d55344f36645","name":"","source":{"id":"c0d28c04-ba9b-3064-9bb6-869daa32480c","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"SQL Analysis of Stream","comments":""},"destination":{"id":"56b1379f-0317-3fd2-9296-66dc888687ed","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Publish Our Sentiment ","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["ourairline"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"6b8599e9-af2a-32ac-b21a-4de6af59fbe6","name":"","source":{"id":"c0d28c04-ba9b-3064-9bb6-869daa32480c","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"SQL Analysis of Stream","comments":""},"destination":{"id":"e83b308b-ef41-3096-a58c-25595b702d33","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Build Kudu Record","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["all"],"backPressureObjectThreshold":10000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"2d8eff66-2c87-3eb9-8798-4de02a365d46","name":"","source":{"id":"cf92f5f6-57af-30f3-aac1-f07744ad67cd","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Publish Airline Positive Sentiment ","comments":""},"destination":{"id":"76e34e9c-527e-3db3-a7f6-d2a85ea423e7","type":"FUNNEL","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"bbe71083-ef66-346a-bcd5-949eea53edfc","name":"","source":{"id":"91e12e61-1fe7-3899-a3ca-dcff28275f42","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Anonymize User Name","comments":""},"destination":{"id":"557b5ea5-7937-3af9-88ba-4ef03b32d048","type":"FUNNEL","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"f9af6e96-0b98-304e-aca3-7072de76f717","name":"","source":{"id":"f327ae36-d50e-3584-9319-faf4e5deb42d","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"write to kudu","comments":""},"destination":{"id":"113230da-6214-3fcb-b773-8be7daae8da2","type":"FUNNEL","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"dc5ca5a0-3bb9-3514-8ba8-37f3f90789e8","name":"","source":{"id":"63cf76f0-8488-3ebc-9c93-9cdf14342ce7","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Clean Results","comments":""},"destination":{"id":"7346013a-e17d-39a5-bdc1-7b8cd0f89d9c","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Build Custom Record","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"413a67e6-4639-3438-ab03-84eeea4104a6","name":"","source":{"id":"c0d28c04-ba9b-3064-9bb6-869daa32480c","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"SQL Analysis of Stream","comments":""},"destination":{"id":"68cbc475-c96c-3a3f-9e27-0dca6498c7af","type":"FUNNEL","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"c532367b-9b27-3b2a-a584-51ce3415c86d","name":"","source":{"id":"1b6566d4-9aa8-3d42-9b4a-9690b5767f0b","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"If CML Call Failure","comments":""},"destination":{"id":"44082468-fc1d-3dda-a5fe-2e9f2107ecc7","type":"FUNNEL","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["isFail"],"backPressureObjectThreshold":1000000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"11dbe6a2-789f-3c1f-8648-f62821e618e6","name":"","source":{"id":"c0d28c04-ba9b-3064-9bb6-869daa32480c","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"SQL Analysis of Stream","comments":""},"destination":{"id":"a5ede99d-fbdb-3bf6-aaeb-532539299ff1","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"ConvertJSONToSQL","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["all"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"608b0544-2384-3060-87b1-4cc381aae49e","name":"","source":{"id":"a5ede99d-fbdb-3bf6-aaeb-532539299ff1","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"ConvertJSONToSQL","comments":""},"destination":{"id":"112fc41d-ba9c-3393-b8ab-9cc6dc963bec","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Insert into CDW Tables","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["sql"],"backPressureObjectThreshold":1000000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"ROUND_ROBIN","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"53386d23-9182-34c9-b433-22ded8935716","name":"","source":{"id":"306b9e2c-ecfd-3f58-9b8d-7ac7a3b8d544","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Send Alerts to Business","comments":""},"destination":{"id":"76e34e9c-527e-3db3-a7f6-d2a85ea423e7","type":"FUNNEL","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"e7b7c332-265d-3745-b405-d39dc55232d7","name":"","source":{"id":"7346013a-e17d-39a5-bdc1-7b8cd0f89d9c","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Build Custom Record","comments":""},"destination":{"id":"c0d28c04-ba9b-3064-9bb6-869daa32480c","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"SQL Analysis of Stream","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"ROUND_ROBIN","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"dd291eda-320e-3e70-8605-ab6af5ae427f","name":"","source":{"id":"bfb0debf-c9d0-36b4-9e26-0fcb546d4941","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"ExecuteClouderaML Sentiment","comments":""},"destination":{"id":"44082468-fc1d-3dda-a5fe-2e9f2107ecc7","type":"FUNNEL","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"3d26f9ee-1692-3a3d-b6fd-acac409c72ba","name":"","source":{"id":"bfb0debf-c9d0-36b4-9e26-0fcb546d4941","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"ExecuteClouderaML Sentiment","comments":""},"destination":{"id":"1b6566d4-9aa8-3d42-9b4a-9690b5767f0b","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"If CML Call Failure","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"35a12867-dc9c-348c-81ff-2969f845b5bd","name":"","source":{"id":"c0d28c04-ba9b-3064-9bb6-869daa32480c","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"SQL Analysis of Stream","comments":""},"destination":{"id":"c6f225aa-134f-3a9d-8d64-37bbde8569f0","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Publish Negative Sentiment ","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["negative"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"35d979bb-7c82-3da4-bb96-49f7834bea49","name":"","source":{"id":"e83b308b-ef41-3096-a58c-25595b702d33","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Build Kudu Record","comments":""},"destination":{"id":"f327ae36-d50e-3584-9319-faf4e5deb42d","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"write to kudu","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"ROUND_ROBIN","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"6c86aba1-1f39-3e67-a626-973e03aceb84","name":"","source":{"id":"b8c8c6fe-3cbe-3101-952e-aa67ceb637f7","type":"OUTPUT_PORT","groupId":"51d9d409-1572-3f96-86af-244357ca8d97","name":"Tweets Out","comments":""},"destination":{"id":"5c754ea7-2c0c-34d7-acfd-8dca23fa3cae","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Set Schema","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":100000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"ab32894e-6f2c-3db7-9ca6-a59c916fab11","name":"","source":{"id":"c6f225aa-134f-3a9d-8d64-37bbde8569f0","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Publish Negative Sentiment ","comments":""},"destination":{"id":"76e34e9c-527e-3db3-a7f6-d2a85ea423e7","type":"FUNNEL","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"25a99df9-5ca0-36ab-a249-7f91eb57e5d5","name":"","source":{"id":"c0d28c04-ba9b-3064-9bb6-869daa32480c","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"SQL Analysis of Stream","comments":""},"destination":{"id":"5e2894c0-588c-3057-8450-d40faab7c059","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"PublishKafkaRecord_2_0 Airlines","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["all"],"backPressureObjectThreshold":10000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"4559eb8d-1854-36d2-829c-4a793bee94fb","name":"","source":{"id":"c0d28c04-ba9b-3064-9bb6-869daa32480c","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"SQL Analysis of Stream","comments":""},"destination":{"id":"51e80c64-3d1c-3d80-97e0-d86ac740450c","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"PutFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["all"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"179a1d94-2ddb-39b5-b8c2-c2eea42da08c","name":"","source":{"id":"5e2894c0-588c-3057-8450-d40faab7c059","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"PublishKafkaRecord_2_0 Airlines","comments":""},"destination":{"id":"68cbc475-c96c-3a3f-9e27-0dca6498c7af","type":"FUNNEL","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"0fc9eaaa-205f-3ab0-a02f-0293e81699af","name":"","source":{"id":"eba57df9-c84d-30b7-adab-091ec0a76ca5","type":"OUTPUT_PORT","groupId":"6ab8171e-1cad-3efc-a42d-94df7d95de67","name":"Out","comments":""},"destination":{"id":"91e12e61-1fe7-3899-a3ca-dcff28275f42","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Anonymize User Name","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"0df32e5a-771f-3942-8ae7-3da917a4e267","name":"","source":{"id":"5c754ea7-2c0c-34d7-acfd-8dca23fa3cae","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Set Schema","comments":""},"destination":{"id":"91e12e61-1fe7-3899-a3ca-dcff28275f42","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Anonymize User Name","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"ROUND_ROBIN","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"c00f80ac-f7b2-3dd1-9c36-3646e00df7d1","name":"","source":{"id":"1b6566d4-9aa8-3d42-9b4a-9690b5767f0b","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"If CML Call Failure","comments":""},"destination":{"id":"63cf76f0-8488-3ebc-9c93-9cdf14342ce7","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Clean Results","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"1ff00957-13e1-3142-b53a-6d120203267b","name":"","source":{"id":"a5ede99d-fbdb-3bf6-aaeb-532539299ff1","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"ConvertJSONToSQL","comments":""},"destination":{"id":"113230da-6214-3fcb-b773-8be7daae8da2","type":"FUNNEL","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"89ae69ad-ed41-317e-a03d-0317975b63f4","name":"","source":{"id":"91e12e61-1fe7-3899-a3ca-dcff28275f42","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Anonymize User Name","comments":""},"destination":{"id":"bfb0debf-c9d0-36b4-9e26-0fcb546d4941","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"ExecuteClouderaML Sentiment","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"ROUND_ROBIN","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"2513f627-be0a-3047-a89d-1be462996f4c","name":"","source":{"id":"c0d28c04-ba9b-3064-9bb6-869daa32480c","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"SQL Analysis of Stream","comments":""},"destination":{"id":"306b9e2c-ecfd-3f58-9b8d-7ac7a3b8d544","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Send Alerts to Business","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["specialtweet"],"backPressureObjectThreshold":100000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"ROUND_ROBIN","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"e9322837-2d1e-3e9f-a485-9ee6801cc803","name":"","source":{"id":"c0d28c04-ba9b-3064-9bb6-869daa32480c","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"SQL Analysis of Stream","comments":""},"destination":{"id":"cf92f5f6-57af-30f3-aac1-f07744ad67cd","type":"PROCESSOR","groupId":"59c7cafc-272a-3480-9cf2-6783b98f5f70","name":"Publish Airline Positive Sentiment ","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["specialtweet"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"}],"labels":[{"identifier":"d53d0097-3338-3eb0-aab5-6b2dc6b03cc6","position":{"x":-568.0,"y":1720.0},"label":"Analyze, transform, route results via Streaming SQL","width":608.0,"height":128.0,"style":{"background-color":"#ff5e00","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"cd6a6cdd-b17b-3b1d-a45b-44c9bf9b3436","position":{"x":568.0,"y":872.0},"label":"Add sentiment analysis model as streaming processor","width":608.0,"height":128.0,"style":{"background-color":"#ff5e00","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"e47230f2-7763-3837-b848-8651c8f9964f","position":{"x":536.0,"y":2688.0},"label":"OpDB","width":104.0,"height":72.0,"style":{"background-color":"#32ada9","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"f59371b9-b678-36f2-b2c8-7233917ae324","position":{"x":-912.0,"y":2568.0},"label":"Insert into\nCloud Data Warehouse","width":360.0,"height":128.0,"style":{"background-color":"#ff5e00","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"}],"funnels":[{"identifier":"76e34e9c-527e-3db3-a7f6-d2a85ea423e7","position":{"x":1736.0,"y":1960.0},"componentType":"FUNNEL","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"113230da-6214-3fcb-b773-8be7daae8da2","position":{"x":104.0,"y":2840.0},"componentType":"FUNNEL","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"557b5ea5-7937-3af9-88ba-4ef03b32d048","position":{"x":-360.0,"y":736.0},"componentType":"FUNNEL","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"68cbc475-c96c-3a3f-9e27-0dca6498c7af","position":{"x":-760.0,"y":1936.0},"componentType":"FUNNEL","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"44082468-fc1d-3dda-a5fe-2e9f2107ecc7","position":{"x":984.0,"y":1064.0},"componentType":"FUNNEL","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"}],"controllerServices":[{"identifier":"813704cf-cbb8-33b7-82b6-b154c6e42a22","name":"JsonTreeReader Infer","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.10.0.2.0.0.0-166"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.10.0.2.0.0.0-166"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"d6cf9cd7-47d2-3928-bdad-6d0a25061619","name":"HBase_2_ClientService","comments":"","type":"org.apache.nifi.hbase.HBase_2_ClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hbase_2-client-service-nar","version":"1.10.0.2.0.0.0-166"},"controllerServiceApis":[{"type":"org.apache.nifi.hbase.HBaseClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.10.0.2.0.0.0-166"}}],"properties":{"kerberos-credentials-service":null,"Kerberos Keytab":null,"ZooKeeper Quorum":null,"ZooKeeper Client Port":null,"ZooKeeper ZNode Parent":null,"Kerberos Principal":null,"HBase Client Retries":"1","Hadoop Configuration Files":"/etc/hbase/conf/hbase-site.xml","Phoenix Client JAR Location":null},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"ZooKeeper Quorum":{"name":"ZooKeeper Quorum","displayName":"ZooKeeper Quorum","identifiesControllerService":false,"sensitive":false},"ZooKeeper Client Port":{"name":"ZooKeeper Client Port","displayName":"ZooKeeper Client Port","identifiesControllerService":false,"sensitive":false},"ZooKeeper ZNode Parent":{"name":"ZooKeeper ZNode Parent","displayName":"ZooKeeper ZNode Parent","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"HBase Client Retries":{"name":"HBase Client Retries","displayName":"HBase Client Retries","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Files":{"name":"Hadoop Configuration Files","displayName":"Hadoop Configuration Files","identifiesControllerService":false,"sensitive":false},"Phoenix Client JAR Location":{"name":"Phoenix Client JAR Location","displayName":"Phoenix Client JAR Location","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"17501d58-04c5-37bf-bee4-72636490ab8f","name":"Impala SQL Connection","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.10.0.2.0.0.0-166"},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.10.0.2.0.0.0-166"}}],"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.cloudera.impala.jdbc.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:impala://coordinator-airline","dbcp-time-between-eviction-runs":"-1","Database User":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/demo/ImpalaJDBC42.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"},{"identifier":"40f1ad95-38e6-3001-be62-e1736697c279","name":"HiveConnectionPool","comments":"","type":"org.apache.nifi.dbcp.hive.HiveConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-nar","version":"1.10.0.2.0.0.0-166"},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.10.0.2.0.0.0-166"}},{"type":"org.apache.nifi.dbcp.hive.HiveDBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-services-api-nar","version":"1.10.0.2.0.0.0-166"}}],"properties":{"kerberos-credentials-service":null,"Validation-query":null,"Kerberos Keytab":null,"hive-max-total-connections":"8","hive-db-connect-url":"jdbc:hive2://ec2-18-207-203-190.compute-1.amazonaws.com:10000/default","Kerberos Principal":null,"hive-config-resources":"/etc/hive/conf/hive-site.xml, /etc/hive/conf/hdfs-site.xml, /etc/hive/conf/core-site.xml","hive-max-wait-time":"500 millis","hive-db-user":"admin"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"hive-max-total-connections":{"name":"hive-max-total-connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"hive-db-password":{"name":"hive-db-password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"hive-db-connect-url":{"name":"hive-db-connect-url","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"hive-config-resources":{"name":"hive-config-resources","displayName":"Hive Configuration Resources","identifiesControllerService":false,"sensitive":false},"hive-max-wait-time":{"name":"hive-max-wait-time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"hive-db-user":{"name":"hive-db-user","displayName":"Database User","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"59c7cafc-272a-3480-9cf2-6783b98f5f70"}],"variables":{},"parameterContextName":"airlines","componentType":"PROCESS_GROUP"},"externalControllerServices":{"d8a7489b-b365-3d52-9d49-cff59b1b0aab":{"identifier":"d8a7489b-b365-3d52-9d49-cff59b1b0aab","name":"JsonRecordSetWriter"},"26b15c22-4b93-351a-96c3-b215a4dc2f79":{"identifier":"26b15c22-4b93-351a-96c3-b215a4dc2f79","name":"JsonRecordSetWriter"},"9c0c09b3-bb39-3f1e-868e-d5a6033ec4a2":{"identifier":"9c0c09b3-bb39-3f1e-868e-d5a6033ec4a2","name":"JsonTreeReader"},"8f23f574-00d9-3c58-901d-8822271f6d7d":{"identifier":"8f23f574-00d9-3c58-901d-8822271f6d7d","name":"JsonTreeReader"}},"parameterContexts":{"airlines":{"name":"airlines","parameters":[{"name":"consumer_key","description":"","sensitive":true},{"name":"consumersecret","description":"","sensitive":true},{"name":"accesstokensecret","description":"","sensitive":true},{"name":"accesstoken","description":"","sensitive":true},{"name":"terms_filter","description":"","sensitive":false,"value":"airlines,unitedairlines,airlinescomplaints,americanairlines,flightcomplaints,@united,@Delta,#UnitedAirlines,#DeltaAirlines,#VirginAtlantic,@ VirginAtlantic, @SouthwestAir,#SouthwestAir, #SouthwestHeart, @Expedia, #Expedia, @AlaskaAir, #AlaskaAir, #iFlyAlaska, @flySEA, #flySEA, #DFWAirport, @DFWAirport, @EWRairport, #EWRairport, #AmericanAir, @AmericanAir, #USAirways, @USAirways, #JetBlue, @JetBlue, @SpiritAirlines, #SpiritAirlines, #FlyFrontier, @FrontierCare,  #FlyFrontier, @FlyFrontier, @Allegiant, #Allegiant, #TogetherWeFly"}]}},"flowEncodingVersion":"1.0"}